#include <winver.h>
#include "resource.h"

IDI_APPICON  ICON   DISCARDABLE "RES\\XQWIZARD.ICO"

IDB_BOARD    BITMAP DISCARDABLE "RES\\BOARD.BMP"
IDB_SELECTED BITMAP DISCARDABLE "RES\\SELECTED.BMP"
IDB_RK       BITMAP DISCARDABLE "RES\\RK.BMP"
IDB_RA       BITMAP DISCARDABLE "RES\\RA.BMP"
IDB_RB       BITMAP DISCARDABLE "RES\\RB.BMP"
IDB_RN       BITMAP DISCARDABLE "RES\\RN.BMP"
IDB_RR       BITMAP DISCARDABLE "RES\\RR.BMP"
IDB_RC       BITMAP DISCARDABLE "RES\\RC.BMP"
IDB_RP       BITMAP DISCARDABLE "RES\\RP.BMP"
IDB_BK       BITMAP DISCARDABLE "RES\\BK.BMP"
IDB_BA       BITMAP DISCARDABLE "RES\\BA.BMP"
IDB_BB       BITMAP DISCARDABLE "RES\\BB.BMP"
IDB_BN       BITMAP DISCARDABLE "RES\\BN.BMP"
IDB_BR       BITMAP DISCARDABLE "RES\\BR.BMP"
IDB_BC       BITMAP DISCARDABLE "RES\\BC.BMP"
IDB_BP       BITMAP DISCARDABLE "RES\\BP.BMP"

IDR_CLICK    WAVE   DISCARDABLE "RES\\CLICK.WAV"
IDR_ILLEGAL  WAVE   DISCARDABLE "RES\\ILLEGAL.WAV"
IDR_MOVE     WAVE   DISCARDABLE "RES\\MOVE.WAV"
IDR_MOVE2    WAVE   DISCARDABLE "RES\\MOVE2.WAV"
IDR_CAPTURE  WAVE   DISCARDABLE "RES\\CAPTURE.WAV"
IDR_CAPTURE2 WAVE   DISCARDABLE "RES\\CAPTURE2.WAV"
IDR_CHECK    WAVE   DISCARDABLE "RES\\CHECK.WAV"
IDR_CHECK2   WAVE   DISCARDABLE "RES\\CHECK2.WAV"
IDR_WIN      WAVE   DISCARDABLE "RES\\WIN.WAV"
IDR_DRAW     WAVE   DISCARDABLE "RES\\DRAW.WAV"
IDR_LOSS     WAVE   DISCARDABLE "RES\\LOSS.WAV"

BOOK_DATA    RCDATA DISCARDABLE "BOOK.DAT"

IDM_MAINMENU MENU   DISCARDABLE 
BEGIN
    POPUP "文件(&F)"
    BEGIN
        MENUITEM "我先走(&R)", IDM_FILE_RED
        MENUITEM "电脑先走(&B)", IDM_FILE_BLACK
        MENUITEM SEPARATOR
        MENUITEM "退出(&X)", IDM_FILE_EXIT
    END
    POPUP "帮助(&H)"
    BEGIN
        MENUITEM "象棋百科全书(&X)", IDM_HELP_HOME
        MENUITEM SEPARATOR
        MENUITEM "关于(&A)", IDM_HELP_ABOUT
    END
END

VS_VERSION_INFO VERSIONINFO
 FILEVERSION 0, 0, 0, 0
 PRODUCTVERSION 0, 0, 0, 0
 FILEFLAGSMASK 0x3fL
 FILEFLAGS 0x0L
 FILEOS 0x4L
 FILETYPE 0x1L
 FILESUBTYPE 0x0L
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "040904B0"
        BEGIN
            VALUE "Comments", "XiangQi Wizard Light 0.x, (C) 2004-2008 www.xqbase.com\0"
            VALUE "CompanyName", "www.xqbase.com\0"
            VALUE "FileDescription", "XiangQi Wizard Light\0"
            VALUE "FileVersion", "0.x\0"
            VALUE "InternalName", "XiangQi Wizard Light\0"
            VALUE "LegalCopyright", "XiangQi Wizard Light 0.x, (C) 2004-2008 www.xqbase.com\0"
            VALUE "LegalTrademarks", "www.xqbase.com\0"
            VALUE "OriginalFilename", "XQWLIGHT.EXE\0"
            VALUE "ProductName", "XiangQi Wizard Light\0"
            VALUE "ProductVersion", "0.x\0"
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x409, 1200
    END
END